<div class="container">
  <h1>Shorten yo Url, Bitch!!</h1>
  <form action="/urls" method="post">
    <input type="text" name="user_input" placeholder="URL, SON!">
    <input type="submit" value="Click, Sucka!"> 
  </form>
</div>
